name: CI

on:
  push:
    branches:
      - main
      - "v*"
    tags:
      - "v*"
  pull_request: {}

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - run: yarn install
      - run: yarn lint

  tests:
    strategy:
      matrix:
        node-version: [12.x, 14.x]

    name: Tests (Node.js ${{ matrix.node-version }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install
      - run: yarn test --coverage

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - lint
      - tests

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          registry-url: 'https://registry.npmjs.org'

      - run: yarn install
      - run: npx auto-dist-tag@1 --write
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
