name: CI

on:
  push:
    branches:
      - main
      - master
      - "v*"
    tags:
      - "v*"
  pull_request: {}

env:
  FORCE_COLOR: 1
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: 9.15.9
  # renovate: datasource=npm depName=auto-dist-tag
  AUTO_DIST_TAG_VERSION: 2.1.1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 22.x

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: true

      - run: pnpm lint

  tests:
    strategy:
      matrix:
        node-version: [20.x, 22.x]

    name: Tests (Node.js ${{ matrix.node-version }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: true

      - run: pnpm test -- --coverage

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - lint
      - tests

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: 22.x
          registry-url: 'https://registry.npmjs.org'

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: true

      - run: pnpx auto-dist-tag@${AUTO_DIST_TAG_VERSION} --write
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
